<div class="fixed right-2 top-2">
  <div class="grid grid-cols-2">

    <div class="navbar">
      <div class="dropdown">
        <div class="dropbtn p-2 m-2 outline-2 bg-gray-700 hover:bg-gray-500 
                       outline-gray-500 rounded-lg">
          Admin
        </div>
        <div class="dropdown-content p-2 rounded-lg">
          <%= render "player_request_table" %>
        </div>
      </div>
    </div> 

    <%= form_with url: "/games/#{@game.id}", method: :patch do |form| %>
      <%= form.submit "Start Game",
        class: "p-2 m-2 outline-2 bg-cyan-700 hover:bg-cyan-500 outline-cyan-500 
    rounded-lg cursor-pointer" %>
<% end %>
  </div>

</div>
