:root {
  --glow-color: #5050ff;
  --glow-outer: color-mix(in srgb, var(--glow-color) 50%, white 50%);
}

img {
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
}

a{
  color: white;
}

body {
  background: radial-gradient(circle at center, #265f3e, #0a3f1d);
  font-family: 'Press Start 2P', monospace;
  color: #fff;
  margin: 0;
  padding: 0;
}

.player-hand, .center-play {
  display: flex;
  gap: 1rem;
  margin: 1rem 0;
}

.card {
    transition: margin 0.2s ease-in-out;
}

.card:hover {
    margin-top: -4px;
    animation: pulse 5s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}
